@import "mixin";

.product_page {
  @include flex(flex-start);
  min-height: 100vh;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f4f4f4;
}

.box {
  @include heiWei(auto, 20rem);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.product_image {
  @include heiWei(12rem, 100%);
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.desc {
  line-height: 20px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  margin-left: 1rem;
  & .id-hide {
    visibility: hidden;
  }
  &.prod_title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  &.prod_desc {
    list-style-type: disclosure-closed;
    margin-left: 16px;
  }
  &.prod_price {
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;
  }
}

.price {
  font-weight: bold;
  color: #007bff;
}

.add_cart {
  margin-top: 25px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0px 0px 10px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: flex-end;
  &:hover {
    background-color: #0056b3;
  }
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    max-width: 400px;
  }
}
